.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// TODO: Think this one out more
// .light-mode {
//   .title {
//     background-image: linear-gradient(
//       transparent 0%, 
//       transparent 45%, $light-accent-color 45%, 
//       $light-accent-color 90%, transparent 90%
//     );
//   }
// }

body.dark-mode {
  background-color: #121212;
  color: #fff;
  transition: 0.15s all ease-in-out;
}

body.light-mode {
  background-color: #fff;
  color: #121212;
  transition: 0.15s all ease-in-out;
}

button {
  
}