button {
  width: 9rem;
  height: 3rem;
  background-color: rgba($light-mode-background, 1.0);
  border: 0;
  border-radius: 40px;
  font-size: $h6;
}

.light-mode {
  button {
    background-color: $dark-mode-background;
    color: $dark-mode-font-color;
  }
}

.dark-mode {
  button {
    background-color: $light-mode-background;
    color: $dark-mode-background;
  }
}