* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

body.dark-mode {
  background-color: #121212;
  color: #fff;
  transition: 0.15s all ease-in-out;
}

body.light-mode {
  background-color: #fff;
  color: #121212;
  transition: 0.15s all ease-in-out;
}
